<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Samparkk Chat | Global</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-box">
            <!-- Chat Message 1 -->
            
            <% users.forEach( user => { %>
            <div class="chat-message">
                <img src="https://storage.googleapis.com/a1aa/image/LhEnn193uFwkeQGI-hs8NJFu651yEhKnBjc-X7whH8U.jpg" alt="Profile picture of sender 1">
                <div>
                        <% user.messages.forEach( message => { %>
                    <div class="message-content">
                        <!-- <p class="username">User1</p> -->
                        <p class="username"><%= user.name %></p>
                        <!-- <p class="text">Hey, how are you doing?</p> -->
                        <p class="text"><%= message.text %></p>
                    </div>
                    <!-- <span class="timestamp">10:30 AM</span> -->
                    <span class="timestamp">1<%= new Date( message.timestamp ).toLocaleTimeString() %> </span>
                    <% }) %>
                </div>
            </div>
            <% }) %>
            <!-- Chat Message 2 -->
            <div class="chat-message reverse">
                <img src="https://storage.googleapis.com/a1aa/image/jno_O3TITt0OxeLapsaBaxbQCBc5uupP-wWCmklgz80.jpg" alt="Profile picture of sender 2">
                <div>
                    <div class="message-content">
                        <p class="username reverse">User2</p>
                        <p class="text">I'm good, thanks! How about you?</p>
                    </div>
                    <span class="timestamp reverse">10:32 AM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="input-container">
       	<form id = "form" action = "">
	        <div class="chat-box" style="display: flex;">
            	<input id = "input" autocomplete = "off" type="text" placeholder="Type a message..." />
            	<button>Send</button>
	        </div>
		</form>
    </div>
    
</body>
    <script src ="/socket.io/socket.io.js"></script>
    <script>
    	var socket = io();
    	
    	var form = document.getElementById('form');
    	var input = document.getElementById('input');
    	
    	form.addEventListener('submit', function(e) {
			e.preventDefault();
			if (input.value) {
				socket.emit('chat message', input.value);
				input.value = '';
			}
		});
    </script>
</html>
